.notFoundPageWrapper {
    display: flex;
    padding-top: '100px';
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.notFoundPageWrapper h3 {
    font-size: 30px;
    margin: 30px;
}
.notFoundPageWrapper a {
    font-size: 22px;
    color: red;
}